/* Imports */
@import './partials/_theme';
@import './partials/_mixins';
@import './partials/_menu';

* {
  margin: 0px;
  padding: 0px;
}

.grid {

  @include create-grid(15, 20, 1fr, 100vh);
  grid-gap: 10px;
}

.header--title {
  display: inline-block;
  position: absolute;
  top: 5px;
  padding: 0 15px;
}

.home {
  background: $background-color;
}

.thumbnails {
  color: red;
  padding: 5px;
}

