/* Imports */
@import './partials/_theme';
@import './partials/_mixins';
@import './partials/_home';

/* ANCHOR Global Style */
* {
  margin: 0px;
  padding: 0px;
  font: main;
}

/* ANCHOR Grid Style*/
.grid.home {
  @include create-grid(15, 20, 1fr, 100vh);
}

.grid.note {
  @include create-grid(15, 20, 1fr, 100vh);
}

/* ANCHOR Header Style*/
.header {
  @include pos-to-grid(1, 2, 1, -1);
  height: 7vh;
  background:blue;
  /* FIXME  Update header text color */
  color: $white;

  & .menu-button{
    @include connect-to-fas() {
      margin: 10px;

      /* ANCHOR Menu Button Hover */
      &:hover {
        color: red;
      }
    }
  }
}

/* ANCHOR Container Style */
.container {
  @include pos-to-grid(2, -1, 1, -1);
  background: green;
}

/* ANCHOR Sidebar Style */
.sidebar{
  transition: all 0.3s linear;
  float:left;
  background: orange;
  height: 100%;
  width: 19%;
  /* NOTE Depending on final style this might change  */
  .sidebar--option {
    display: block;
    height: 15px;
    font-size: 12px;
    text-align: right;
    border-radius: 20px;
    padding: 5px 10px 5px 5px;

    /* REVIEW Maybe change color */
    &:hover{
      background: rgba(0,0, 0, 0.15);
      color: $white;
    }
  }

  .sidebar--option-icon{
    margin: 0 10px;
    float: left;
  }
}

.hide {
  color: red;
  // display: none;
  width: 0;

}

/* ANCHOR Thumbnails Style */
.thumbnails {
  display: inline-block;
  transition: width 0.3s linear;
  position: absolute;
  top: 53px;
  right: 0;
  background: pink;
  margin: 0 0.45vw;
  padding-top: 20px;
  height: 89.8vh;
  width: 80%;
}

.thumbnail {
  display: inline-block;
  border: 1px solid black;
  width: 200px;
  height: 150px;
  margin: 0 15px;

  .new-note-icon{
    display: inline-block;
    padding: 30px 65px;

    &:hover {
      color: white;
    }
  }
}

/* ANCHOR Note Style */
.note--text {
  transition: width 0.3s linear;
  position: absolute;
  top: 53px;
  right: 0;
  box-sizing: border-box;
  height: 92.45vh;
  width: 99.74vw;
  background: transparent;
  border: none;
  margin: 1px;
  padding: 10px;
  background: pink;

  &:focus {
    outline: none;
  }
}