
.menu {
  padding: 10px;

  &--button {
    height: 10px;
    padding: 0 5px;
    margin-bottom: 10px;

    svg:hover {
      @include show-hover($header--button-color-hover);
    }
  }
}

.option {
  display: inline-block;
  margin: 0 7px;
  padding: 2px;
  &--text {
    margin: 0 10px;
    font-size: 14px;
    width: 20px;
  }

  > svg {
    margin: 0 10px;
  }

  &:hover {
    @include show-hover($header--button-color-hover);
    background-color: lighten($header--background-color, 5%);
    border-radius: 20%;
  }
}
.header {
  @include pos-to-grid(1, 2, 1, -1);
  background: $header--background-color;
  height: 45px;
  color: $header--button-color;

  &--menu{
    &.hide {
      visibility: hidden;
      opacity: 0;

      > .menu {
        background: $header--background-color;
      }
    }

    &.show  {
      visibility: visible;
      opacity: 1;
      > .menu {
        background: $header--background-color;
      }
    }
  }
}