$alabaster:                   #E7EDE7;
$smokyBlack:                  #070707;
$metallicSeaweed:             #028090;

/* Note Colors */
$mediumSpringBug:             #CBE896;
$yellowOrange:                #F4AC45;
$redSalsa:                    #F93943;

/* Button colors */
$gainsboro: #D9D9D9;

/* Actionable Names */
$background-color:              $alabaster;
$header--background-color:      $metallicSeaweed;
$header--button-color:          $gainsboro;
$header--button-color-hover:    $yellowOrange;